@import 'palette';

:root {
  scroll-behavior: smooth;

  // --c-brand: #{$brand};
  --c-bg-navbar: #{change-color($bg-nav, $alpha: 0.6)};
  --font-family: $font;
  --font-family-code: $font-code;

  // add
  --c-bg-side-active: #{change-color($brand, $alpha: 0.1)};
}

html.dark {
  --c-brand: #{$brand-dark};
  --c-bg-navbar: #{change-color($bg-nav-dark, $alpha: 0.6)};

  // add
  --c-bg-side-active: #{change-color($brand-dark, $alpha: 0.1)};
}

// modify style
.navbar {
  backdrop-filter: blur(10px);
}

.sidebar-item.active:not(p.sidebar-heading) {
  background-color: var(--c-bg-side-active);
}

// custom style
// ====================================================
.btn {
  $color: #7fff00;
  $border-radius: 0.25em;
  $text-size: 16px;
  $text-color: #333;

  padding: 0.5em 1em;
  color: $text-color;
  border: 1px solid $color;
  border-radius: $border-radius;
  background-color: $color;
  font-size: $text-size;
  text-decoration: none;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border-color: darken($color, 10%);
    background-color: darken($color, 10%);
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      background-color: $color;
    }
  }

  &-link {
    color: $color;
    border-color: transparent;
    background-color: transparent;
    text-decoration: underline;

    &:hover {
      border-color: transparent;
      background-color: rgba($color, 0.2);
    }
  }

  &-outline {
    color: $color;
    border: $color solid 1px;
    background-color: transparent;

    &:hover {
      color: $text-color;
      background-color: $color;
    }
  }
}

// custom components
// ====================================================
.box {
  display: flex;
  // align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid var(--c-border);
  border-radius: 1rem;

  &-row {
    flex-direction: column;
  }

  &-2 {
    > * {
      flex: 0 0 auto;
      width: 50%;
    }
  }

  &-4 {
    > * {
      flex: 0 0 auto;
      width: 25%;
    }
  }
}

// custom utils
// ====================================================
.ovh {
  overflow: hidden;
}