// responsive breakpoints
$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

// code languages
$codeLang: 'c' 'cpp' 'cs' 'css' 'dart' 'docker' 'fs' 'go' 'html' 'java' 'js' 'json' 'kt' 'less' 'makefile' 'md' 'php' 'py' 'rb' 'rs' 'sass' 'scss' 'sh' 'styl' 'ts' 'toml' 'vue' 'yml' !default;

// custom
// ======================================

// color
$brand: #3eaf7c;
$brand-dark: #7fff00;

$bg-nav: #ffffff;
$bg-nav-dark: #22272e;

// font vars
$font: 'Noto Sans KR', 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-code: 'Nanum Gothic Coding', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

// funciton
@function setOpacity($color, $opacity) {
  // @return rgba(red($color), green($color), blue($color), $opacity);
  @return change-color($color, $alpha: $opacity);
}